.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navHeader {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: brown;
}

.navHeader ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.navHeader li {
  flex: 1;
  text-align: center;
}

.mainPagesWrapper {
  display: grid;
  grid-template-areas: "l r";
  grid-template-columns: 2fr 8fr;
}

.userMainPageLeftSide {
background-color: rebeccapurple;
grid-area: l;
display: flex;
flex-direction: column;
text-align: center;
}

.userMainPageLeftSide img {
  width: 100%;
}

.userMainPageLeftSide ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.userMainPageLeftSide li {
  padding: 10px;
  background-color: #4b9acf;
  margin-bottom: 5px;
}

.userMainPageRightSide {
grid-area: r;
background-color: green;
}

.userMainPageRightSide p {
  padding: 0 5px 0 5px;
}

.userFooterPage {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: brown;
}

.userFooterPage ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.userFooterPage li {
  flex: 1;
  text-align: center;
}